<div class="container-fuid bg-secondary py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/" class="btn btn-primary">Home</a>
        <a href="/create/post" class="btn btn-primary">Create</a>
        {{!-- <a href="/" class="btn btn-primary">Delete</a> --}}
      </div>
    </div>
  </div>
</div>